/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-abr-2018, 11:03:22
    Author     : user
*/
*{
    font-family: sans-serif;
}
.bajada{

}
#membrete{
    text-align: center;

}
#encabezado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
    margin-top:2.5%;
    margin-bottom: 20px;
}

#mainConteiner{
    display: block;
    margin: 0 auto;
    width: 565px;
    height: 683px;
    border: 2px #000 solid;
}
#titulo{
    text-decoration: underline;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 24px;
}
.bajada{
    font-size: 12px;
}
#GAVETECO{
    font-size: 18px;
}
.lineaDatos{
    display: block;
    margin-left: 3%;
    margin-right: 4%;
    margin-top: 15px;
    margin-bottom: 7px;

}
#provSpan{
    width: 44%;
    font-size: 12px;
}
#cuitSpan{
    display: inline-block;
    width: 23%;
    text-align: center;
}
#facSpan{
    width: 50%;
}
#concSpan{
    width:42%;
}
#fechaSpan{
    width: 18%;
}
#netoSpan,#ivaSpan{
    text-align: right;
}
#netoSpan{
    width: 39.5%;
    text-align: left;
}
#ivaSpan{
    width: 41%;
}
#porcSpan{
    width: 22%;
}
#impRetSpan{
    width: 27.5%;
    text-align: left;
}
#fechaRetSpan{
    width: 80%;
}
#cuerpo{
    display: block;
}
#cuerpo label{
    font-size: 14px;
}
.datoRet{
    display: inline-block;
    vertical-align: central;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    font-size: 13px;
}
#lineaDom{
    margin-top: 14px
}
#lineaFac{
    margin-top: 51px;
}
#lineaConc{
    margin-top : 25px;
    margin-bottom: 8px;
}
#lineaNeto{
    margin-top:20px;
}
#lineaIva{
    margin-top: 19px;
}
#lineaProv{
    margin-top: 19px;
}
#lineaImpRet{
    margin-top: 23px;
}
#lineaRegimen{
    margin-top: 26px;
}
#lineaDatosFinal{
    margin-top: 55px;
}
.lineaDatos span{
    text-align: center;
    margin-left: 10px;
}
@media print{
    @page{
        size: A4 portrait;
        margin-top: 1.6cm;
    }
    body{
        transform: scale(.93);
        visibility: hidden;
    }
    .datoRet{
        visibility: visible;
    }

}

