/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-abr-2018, 11:03:22
    Author     : user
*/
*{
    font-family: sans-serif;
}
.bajada{

}
#membrete{
    text-align: center;

}
#encabezado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
    margin-top:2.5%;
    margin-bottom: 10px;
}

#mainConteiner{
    display: block;
    margin: 0 auto;
    width: 565px;
    height: 683px;
    border: 2px #000 solid;
}
#titulo{
    text-decoration: underline;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.bajada{
    font-size: 12px;
    margin-top: 3px;
}
#GAVETECO{
    font-size: 18px;
}
.lineaDatos{
    display: block;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15px;
    margin-bottom: 3px;

}
#provSpan{
    width: 42%;
    font-size: 12px;
}
#cuitSpan{
    display: inline-block;
    width: 23%;
    text-align: center;
}
#facSpan{
    text-align: center;
    width: 48%;
}
#concSpan{
    width:42%;
}
#fechaSpan{
    width: 18%;
}
#netoSpan,#ivaSpan{
    text-align: right;
}
#netoSpan{
    width: 39.5%;
}
#ivaSpan{
    width: 41%;
}
#porcSpan{
    width: 22%;
}
#impRetSpan{
    width: 27.5%;
}
#fechaRetSpan{
    width: 80%;
}
#cuerpo{
    display: block;
}
#cuerpo label{
    font-size: 13px;
}
.datoRet{
    display: inline-block;
    vertical-align: central;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    font-size: 12px;
}
#lineaDom{
    margin-top: 1px;
    margin-bottom: 0px;
}
#lineaFac{
    margin-top: 0px;
    margin-bottom: 4px;
}
#lineaConc{
    margin-top: 1px;
    margin-bottom: 1px;
}
#lineaCalc{
    margin-top: 21px;
    margin-bottom: 1px;
}
#lineaImpRet{
    margin-top: 22px;
}
#lineaRegimen{
    margin-top: 26px;
}
#lineaDatosFinal{
    margin-top: 36px;
}
.lineaDatos span{
    text-align: center;
    margin-left: 10px;
}
table{
    width: 92%;
    margin-top: 4px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 7px;
}
tbody{
    font-size: 14px;
}
th{
    text-align: center;
}

td{
    width: 23%;
    padding-right: 15px;
    text-align: right;
}
input{
    width: 100%;
    text-align: right;
    border: none;
}
td.primerColumna{
    text-align: left;
    width: 19%;
}
tr{
   height: 26px;
}
tr.primeras2{
   margin-top: 1px;
   height: 20px; 
}
tr.delMedio{
    height: 22px; 
}
tr.Aretener{
    height: 22px; 
}
#porcentajeRet{
    width: 20%;
}
.rellenoUltFilas{
    padding-left: 50px;
}
.lineaDatosFinal{
    font-size: 12px;
    margin-top: 20px;
}
.fechaDDJJ{
    width: 12%;
}
.fechaRetencion{
    width: 50%;
    text-align: left;
}
#ultimalinea{
    margin-top: 7px;
}
.negrita{
    font-weight: bold;
}
.oculto{
    visibility: hidden;
}

@media print{
    @page{
        size: A4 portrait;
        margin-top: 1.6cm;
    }
    body{
        transform: scale(.93);
        visibility: hidden;
    }
    .imprimir{
        visibility: visible;
    }

}

